################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MFCMapi.vcxproj.user
/bin
/obj
/ipch
/test
/MFCMapi.VC.db
/MFCMapi.VC.VC.opendb
/.vs/MFCMapi/v14/.suo
/MFCMapi.pdb
/MFCMapi.exe
/MrMAPI.pdb
/MrMAPI.exe
