################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MFCMapi.vcxproj.user
/MFCMapi.VC.VC.opendb
/MFCMapi.VC.db
/Test
/.vs/MFCMapi/v14/.suo
/bin
/obj
/ipch
