# Continuous integration
name: github-continuous-integration

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [ 'Release', 'Debug', 'Release_Unicode', 'Debug_Unicode' ]
        platform: [ 'Win32', 'x64' ]

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        egress-policy: audit

    - name: Checkout repository
      uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      with:
        submodules: 'recursive'

    - name: Restore NuGet packages
      working-directory: ${{ github.workspace }}
      run: nuget restore mfcmapi.sln

    - name: Initialize CodeQL
      uses: github/codeql-action/init@701f152f28d4350ad289a5e31435e9ab6169a7ca # v2.21.6
      with:
        languages: "cpp"

    - name: "Build"
      shell: pwsh
      run: |
        $path = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationPath
        & $path\MSBuild\Current\Bin\amd64\msbuild.exe /m /p:Configuration="${{matrix.configuration}}" /p:Platform="${{matrix.platform}}" mfcmapi.sln

    - name: Run tests
      uses: microsoft/vstest-action@6ef4755ea07a3144e3da36f10d76187086eee5e6 # v1.0.0
      with:
        testAssembly: '**\\UnitTest.dll'
        searchFolder: "${{ github.workspace }}\\bin\\${{matrix.platform}}\\UnitTest\\${{matrix.configuration}}"
        runInParallel: true
        # codeCoverageEnabled: true

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@701f152f28d4350ad289a5e31435e9ab6169a7ca # v2.21.6
      with:
        category: "/language:cpp"